/* .onBoardingContainer{
    background-color: rgb(211, 214, 159);
    width: 400px;
    height: 500px;
} */
.onBoardingContainer .swiper {
    width: 100%;
    height: 550px;
}

.onBoardingContainer .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.onBoardingContainer .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.a {
    text-decoration: none;
}
.home-butt {
    color: #2BBEE2;
    border: none;
    padding: 0% 60% 10%;
    margin: 5%;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    background-color: inherit;
    font-size: 15px;
    display: flex;
}