body {
    margin: 0 auto;
    box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: white;

}

.home-container {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    justify-content: center;
}

.home-profile {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.photo-profile {
    width: 150px;
    height: 150px;
    background-size: cover;

}

.photo-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 99px;
    border: 2px solid #2BBEE2;
}

.home-profile h2 {
    font-family: Montserrat;
    font-size: x-large;


}

.material-symbols-outlined {
    font-size: 40px;
}


.home-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.home-buttons h2 {
    font-size: x-large;
    font-family: Montserrat;
    text-align: center;
    color: white;
}

.scan-button {
    width: 150px;
    height: 150px;
    background-color: #FFCC00;
    color: white;
    border-radius: 30px;
    padding: 30px;
    margin: 5px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-direction: column;

}

.search-button {
    width: 150px;
    height: 150px;
    background-color: #2CBEE2;
    color: white;
    border-radius: 30px;
    padding: 30px;
    margin: 5px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.diary-button {
    width: 150px;
    height: 150px;
    background-color: #28B56D;
    color: white;
    border-radius: 30px;
    padding: 30px;
    margin: 5px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.sos-button {
    width: 150px;
    height: 150px;
    background-color: #F84971;
    color: white;
    border-radius: 30px;
    padding: 30px;
    margin: 5px;
    /* box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.2); */
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.sosbutton {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.material-symbols-outlined {
    color: white;
}

.diary-button a {
    text-decoration: none;
}

.enlace {
    text-decoration: none;
}

.sosbutton {
    text-decoration: none;
}