.perfil{
        padding: 20px;
        height: 100%;
        margin: 0 auto;
    .topPer{
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }
}